body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;   
}
header{
    color: #fff;
    text-align: center;
}
section{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
#res{
    text-align: center;
}
#foto{
    /*display: block;*/
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 15px;
}
footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}
